li {
    list-style-type: none;
    float: left;
    border-right-color: #bbb;
    border-right-width: 1px;
    border-right-style: solid;
    margin-bottom: 2rem;
   
}

li a {
    display: block;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color: crimson;
}

li a:hover{
    background-color: #111;
}

h4 {
    text-align: center;
}

.marginSpace {
    margin-top: 2rem;
}